<section class="page-section bg-light" id="materials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">{{ site.data.i18n['materials'][page.lang] }}</h2>
        <div class="section-subheading text-muted text-center">{{ site.data.i18n['materialsSubtitle'][page.lang] }}</div>
        {% assign materials=page.materials %}
        {% for material in materials %}
          {% include unit/material.html %}
        {% endfor %}
        {% if page.otherMaterials %}
          <div class="section-heading text-muted text-center mb-4 mt-5">{{ site.data.i18n['otherMaterials'][page.lang] }}</div>
        {% endif %}
        {% assign otherMaterials=page.otherMaterials %}
        {% for material in otherMaterials %}
          {% include unit/material.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
