RewriteEngine On

##########
# NO WWW #
##########

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

##########################################
# REDIRECCIONS MULTI-DOMINI MULTI-IDIOMA #
##########################################

RewriteCond %{HTTP_HOST} ^moulanoviolencia.net$
RewriteCond %{REQUEST_URI} !^/assets/
RewriteCond %{REQUEST_URI} !^/fontawesome/
RewriteRule !^ca/ ca%{REQUEST_URI} [L]

RewriteCond %{HTTP_HOST} ^muevelanoviolencia.net$
RewriteCond %{REQUEST_URI} !^/assets/
RewriteCond %{REQUEST_URI} !^/fontawesome/
RewriteRule !^es/ es%{REQUEST_URI} [L]

RewriteCond %{HTTP_HOST} ^movenonviolence.net$
RewriteCond %{REQUEST_URI} !^/assets/
RewriteCond %{REQUEST_URI} !^/fontawesome/
RewriteRule !^en/ en%{REQUEST_URI} [L]

##########################
# REDIRECCIONS MATERIALS #
##########################

# CA #
RewriteCond %{HTTP_HOST} !^moulanoviolencia.net$

# CA - UNITAT 1
Redirect /ca/U1/video https://www.youtube.com/watch?v=1t3vrmKNsV8
Redirect /ca/U1/01 https://www.youtube.com/embed/N1WdfVWo1pQ?start=235
Redirect /ca/U1/02 /assets/01/Diagrama_CAT.png
Redirect /ca/U1/03 https://www.youtube.com/watch?v=3BnNdLxGNB8
Redirect /ca/U1/04 https://www.youtube.com/embed/dmV4IzJZEVs?hl=en&cc_load_policy=1&cc_lang_pref=en
Redirect /ca/U1/05 https://www.youtube.com/embed/QfYKJNDvE_A
Redirect /ca/U1/06 https://www.youtube.com/watch?v=j17axG1s1fo

# CA - UNITAT 2
Redirect /ca/U2/video https://www.youtube.com/watch?v=2RLbuGnDO54
Redirect /ca/U2/01 https://www.youtube.com/embed/LWhJhGXO9Go
Redirect /ca/U2/02 https://www.youtube.com/embed/79MTkVumCcQ
Redirect /ca/U2/03 https://www.youtube.com/embed/HWzMQjNTKFo
Redirect /ca/U2/04 https://elpais.com/diario/2010/07/26/espana/1280095206_850215.html
Redirect /ca/U2/05 http://wus-streaming-video-msn-com.akamaized.net/c32bf1fa-e7f6-423d-b2dd-7e9e55744012/7168d4c5-5cac-45bd-9bf3-10db876a_2250.mp4

# CA - UNITAT 3
Redirect /ca/U3/video https://www.youtube.com/watch?v=KSNfO-2-OFM
Redirect /ca/U3/01 /assets/03/Brain_CAT.png
Redirect /ca/U3/02 https://elpais.com/elpais/2016/06/17/masterdeperiodismo/1466180368_500528.html
Redirect /ca/U3/03 https://www.youtube.com/watch?v=zZOnto0TAeI&cc_load_policy=1&cc_lang_pref=es
Redirect /ca/U3/04 /assets/03/KKK-CAT.pdf
Redirect /ca/U3/05 https://www.youtube.com/watch?v=peZomqY5Rek
Redirect /ca/U3/06 https://www.youtube.com/embed/BH9N-hxUOPQ
Redirect /ca/U3/07 https://www.youtube.com/embed/KDYdLRfnBZk
Redirect /ca/U3/08 http://www.uca.es/recursos/doc/unidad_igualdad/360108496_1122011112253.pdf
Redirect /ca/U3/09 https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0107260
Redirect /ca/U3/10 https://www.sciencedaily.com/releases/2014/09/140910140856.htm
Redirect /ca/U3/11 https://www.muyinteresante.es/salud/articulo/el-impacto-de-las-imagenes-violentas-en-el-cerebro-801410436477
Redirect /ca/U3/12 https://www.youtube.com/embed/fdMKi64AKYs
Redirect /ca/U3/13 https://www.youtube.com/embed/Ej1LIIN34SM
Redirect /ca/U3/14 /assets/03/Conflicts.png
Redirect /ca/U3/15 /assets/03/The-100-Worst-Atrocities-ever.png
Redirect /ca/U3/16 /assets/03/Armas-Muertos-Tenencia.jpg
Redirect /ca/U3/17 https://www.youtube.com/embed/sAhTRE27r14
Redirect /ca/U3/18 http://www.kivaprogram.net/spain/evidencia-de-efectividad

# CA - UNITAT 4
Redirect /ca/U4/video https://www.youtube.com/watch?v=4GCQv71zdBM
Redirect /ca/U4/01 https://www.youtube.com/embed/FHzAnNQBzA8
Redirect /ca/U4/02 https://www.youtube.com/embed/6NSzZl5g_bI
Redirect /ca/U4/03 https://www.icrc.org/es/document/el-cicr-y-la-segunda-guerra-mundial-el-holocausto

# CA - UNITAT 5
Redirect /ca/U5/video https://www.youtube.com/watch?v=9QMKQ2omqUw
Redirect /ca/U5/01 https://www.youtube.com/embed/OsFEV35tWsg?hl=es&cc_lang_pref=es&cc_load_policy=1
Redirect /ca/U5/02 https://www.youtube.com/embed/lwcgG6SwapI
Redirect /ca/U5/03 https://www.youtube.com/embed/_UG2bJfcn_8
Redirect /ca/U5/04 https://solidaridad.net/sumilao-una-victoria-con-mucho-sacrifico6204/
Redirect /ca/U5/05 https://www.youtube.com/watch?v=MwfjC1PXrhE
Redirect /ca/U5/06 https://www.youtube.com/embed/UPSvfn0q-CM
Redirect /ca/U5/07 https://www.youtube.com/embed/9Hq9rf0XgrI
Redirect /ca/U5/08 https://www.youtube.com/embed/OIpgrZ8yS-Q?hl=en&cc_lang_pref=es&cc_load_policy=1
Redirect /ca/U5/09 https://www.youtube.com/embed/N8Zc71J6On4
Redirect /ca/U5/10 https://www.youtube.com/embed/r8i9MPTVhuk

# CA - UNITAT 6
Redirect /ca/U6/video https://www.youtube.com/watch?v=R0hev2BwgPE
Redirect /ca/U6/01 https://www.youtube.com/embed/Hbufpkw76ic
Redirect /ca/U6/02 https://www.youtube.com/embed/7JEwKNsIDBQ
Redirect /ca/U6/03 https://www.tolerance.org/classroom-resources/film-kits/viva-la-causa
Redirect /ca/U6/04 http://icip.gencat.cat/web/.content/continguts/publicacions/llibres/eines/Eines22/180305-eines22_FIN.pdf
Redirect /ca/U6/05 https://www.youtube.com/embed/caoyLrCGnYc

# ES #
RewriteCond %{HTTP_HOST} !^muevelanoviolencia.net$

# ES - UNITAT 1
Redirect /es/U1/video https://www.youtube.com/watch?v=6ZjnzzJPYCM
Redirect /es/U1/01 https://www.youtube.com/embed/N1WdfVWo1pQ?start=235
Redirect /es/U1/02 /assets/01/Diagrama_ESP.png
Redirect /es/U1/03 https://www.youtube.com/watch?v=3BnNdLxGNB8
Redirect /es/U1/04 https://www.youtube.com/embed/dmV4IzJZEVs?hl=en&cc_load_policy=1&cc_lang_pref=en
Redirect /es/U1/05 https://www.youtube.com/embed/QfYKJNDvE_A
Redirect /es/U1/06 https://www.youtube.com/watch?v=j17axG1s1fo

# ES - UNITAT 2
Redirect /es/U2/video https://www.youtube.com/watch?v=cTW1p74JixY
Redirect /es/U2/01 https://www.youtube.com/embed/LWhJhGXO9Go
Redirect /es/U2/02 https://www.youtube.com/embed/79MTkVumCcQ
Redirect /es/U2/03 https://www.youtube.com/embed/HWzMQjNTKFo
Redirect /es/U2/04 https://elpais.com/diario/2010/07/26/espana/1280095206_850215.html
Redirect /es/U2/05 http://wus-streaming-video-msn-com.akamaized.net/c32bf1fa-e7f6-423d-b2dd-7e9e55744012/7168d4c5-5cac-45bd-9bf3-10db876a_2250.mp4

# ES - UNITAT 3
Redirect /es/U3/video https://www.youtube.com/watch?v=eHo_sh9-fe8
Redirect /es/U3/01 /assets/03/Brain_ESP.png
Redirect /es/U3/02 https://elpais.com/elpais/2016/06/17/masterdeperiodismo/1466180368_500528.html
Redirect /es/U3/03 https://www.youtube.com/embed/zZOnto0TAeI?hl=en&cc_load_policy=1&cc_lang_pref=es
Redirect /es/U3/04 /assets/03/KKK-ESP.pdf
Redirect /es/U3/05 https://www.youtube.com/embed/peZomqY5Rek
Redirect /es/U3/06 https://www.youtube.com/embed/BH9N-hxUOPQ
Redirect /es/U3/07 https://www.youtube.com/embed/KDYdLRfnBZk
Redirect /es/U3/08 http://www.uca.es/recursos/doc/unidad_igualdad/360108496_1122011112253.pdf
Redirect /es/U3/09 https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0107260
Redirect /es/U3/10 https://www.sciencedaily.com/releases/2014/09/140910140856.htm
Redirect /es/U3/11 https://www.muyinteresante.es/salud/articulo/el-impacto-de-las-imagenes-violentas-en-el-cerebro-801410436477
Redirect /es/U3/12 https://www.youtube.com/embed/fdMKi64AKYs
Redirect /es/U3/13 https://www.youtube.com/embed/Ej1LIIN34SM
Redirect /es/U3/14 /assets/03/Conflicts.png
Redirect /es/U3/15 /assets/03/The-100-Worst-Atrocities-ever.png
Redirect /es/U3/16 /assets/03/Armas-Muertos-Tenencia.jpg
Redirect /es/U3/17 https://www.youtube.com/embed/sAhTRE27r14
Redirect /es/U3/18 http://www.kivaprogram.net/spain/evidencia-de-efectividad

# ES - UNITAT 4
Redirect /es/U4/video https://www.youtube.com/watch?v=vZrkJFm-MD8
Redirect /es/U4/01 https://www.youtube.com/embed/FHzAnNQBzA8
Redirect /es/U4/02 https://www.youtube.com/embed/6NSzZl5g_bI
Redirect /es/U4/03 https://www.icrc.org/es/document/el-cicr-y-la-segunda-guerra-mundial-el-holocausto

# ES - UNITAT 5
Redirect /es/U5/video https://www.youtube.com/watch?v=98aCs227mrI
Redirect /es/U5/01 https://www.youtube.com/embed/OsFEV35tWsg?hl=es&cc_lang_pref=es&cc_load_policy=1
Redirect /es/U5/02 https://www.youtube.com/embed/lwcgG6SwapI
Redirect /es/U5/03 https://www.youtube.com/embed/_UG2bJfcn_8
Redirect /es/U5/04 https://solidaridad.net/sumilao-una-victoria-con-mucho-sacrifico6204/
Redirect /es/U5/05 https://www.youtube.com/watch?v=MwfjC1PXrhE
Redirect /es/U5/06 https://www.youtube.com/embed/UPSvfn0q-CM
Redirect /es/U5/07 https://www.youtube.com/embed/9Hq9rf0XgrI
Redirect /es/U5/08 https://www.youtube.com/embed/OIpgrZ8yS-Q?hl=en&cc_lang_pref=es&cc_load_policy=1
Redirect /es/U5/09 https://www.youtube.com/embed/N8Zc71J6On4
Redirect /es/U5/10 https://www.youtube.com/embed/r8i9MPTVhuk

# ES - UNITAT 6
Redirect /es/U6/video https://www.youtube.com/watch?v=W6FpN8CL-OY
Redirect /es/U6/01 https://www.youtube.com/embed/Hbufpkw76ic
Redirect /es/U6/02 https://www.youtube.com/embed/7JEwKNsIDBQ
Redirect /es/U6/03 https://www.tolerance.org/classroom-resources/film-kits/viva-la-causa
Redirect /es/U6/04 https://hardymerriman.com/wp-content/uploads/2017/01/ManualSpanish.pdf
Redirect /es/U6/05 https://www.youtube.com/embed/caoyLrCGnYc

# EN #
RewriteCond %{HTTP_HOST} !^movenonviolence.net$

# EN - UNITAT 1
Redirect /en/U1/video https://www.youtube.com/watch?v=HDcZljv6OnI
Redirect /en/U1/01 https://www.youtube.com/embed/vdb4XGVTHkE?start=235
Redirect /en/U1/02 /assets/01/Diagrama_ENG.png
Redirect /en/U1/03 https://www.youtube.com/watch?v=3BnNdLxGNB8
Redirect /en/U1/04 https://www.youtube.com/embed/dmV4IzJZEVs
Redirect /en/U1/05 https://www.youtube.com/embed/QfYKJNDvE_A
Redirect /en/U1/06 https://www.youtube.com/watch?v=j17axG1s1fo

# EN - UNITAT 2
Redirect /en/U2/video https://www.youtube.com/watch?v=GO0breFAE_M
Redirect /en/U2/01 https://www.youtube.com/embed/LWhJhGXO9Go
Redirect /en/U2/02 https://www.youtube.com/embed/79MTkVumCcQ
Redirect /en/U2/03 https://www.youtube.com/embed/HWzMQjNTKFo
Redirect /en/U2/04 https://elpais.com/diario/2010/07/26/espana/1280095206_850215.html
Redirect /en/U2/05 http://wus-streaming-video-msn-com.akamaized.net/c32bf1fa-e7f6-423d-b2dd-7e9e55744012/7168d4c5-5cac-45bd-9bf3-10db876a_2250.mp4

# EN - UNITAT 3
Redirect /en/U3/video https://www.youtube.com/watch?v=TL0P20A4EVQ
Redirect /en/U3/01 /assets/03/Brain_ENG.png
Redirect /en/U3/02 https://elpais.com/elpais/2016/06/17/masterdeperiodismo/1466180368_500528.html
Redirect /en/U3/03 https://www.youtube.com/embed/zZOnto0TAeI
Redirect /en/U3/04 /assets/03/KKK-ENG.pdf
Redirect /en/U3/05 https://www.youtube.com/embed/peZomqY5Rek
Redirect /en/U3/06 https://www.youtube.com/embed/BH9N-hxUOPQ
Redirect /en/U3/07 https://www.youtube.com/watch?v=KDYdLRfnBZk
Redirect /en/U3/08 http://www.uca.es/recursos/doc/unidad_igualdad/360108496_1122011112253.pdf
Redirect /en/U3/09 https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0107260
Redirect /en/U3/10 https://www.sciencedaily.com/releases/2014/09/140910140856.htm
Redirect /en/U3/11 https://www.muyinteresante.es/salud/articulo/el-impacto-de-las-imagenes-violentas-en-el-cerebro-801410436477
Redirect /en/U3/12 https://www.youtube.com/embed/fdMKi64AKYs?hl=en&cc_load_policy=1&cc_lang_pref=en
Redirect /en/U3/13 https://www.youtube.com/embed/Ej1LIIN34SM
Redirect /en/U3/14 /assets/03/Conflicts.png
Redirect /en/U3/15 /assets/03/The-100-Worst-Atrocities-ever.png
Redirect /en/U3/16 /assets/03/Guns-deaths-ownership.png
Redirect /en/U3/17 https://www.youtube.com/embed/YJSehRlU34w
Redirect /en/U3/18 http://www.kivaprogram.net/is-kiva-effective

# EN - UNITAT 4
Redirect /en/U4/video https://www.youtube.com/watch?v=pzvql-HMGWw
Redirect /en/U4/01 https://www.youtube.com/embed/4mrE5zgEvt4
Redirect /en/U4/02 https://www.youtube.com/embed/MQx39z99_Js
Redirect /en/U4/03 https://www.icrc.org/en/document/icrc-wwii-holocaust

# EN - UNITAT 5
Redirect /en/U5/video https://www.youtube.com/watch?v=HOTxQrtiMGg
Redirect /en/U5/01 https://www.youtube.com/embed/OsFEV35tWsg?hl=en&cc_lang_pref=en&cc_load_policy=1
Redirect /en/U5/02 https://www.youtube.com/embed/lwcgG6SwapI
Redirect /en/U5/03 https://www.youtube.com/embed/KdYo5jn29w4
Redirect /en/U5/04 https://www.rappler.com/move-ph/185345-sumilao-farmers-decade-after-march
Redirect /en/U5/05 https://www.youtube.com/embed/_VF_cpbhamU
Redirect /en/U5/06 https://www.youtube.com/embed/H7zBWMPq-kU
Redirect /en/U5/07 https://www.youtube.com/embed/9Hq9rf0XgrI
Redirect /en/U5/08 https://www.youtube.com/embed/OIpgrZ8yS-Q?hl=en&cc_lang_pref=en&cc_load_policy=1
Redirect /en/U5/09 https://www.youtube.com/watch?v=rH_d_L33V2s
Redirect /en/U5/10 https://www.youtube.com/embed/r8i9MPTVhuk

# EN - UNITAT 6
Redirect /en/U6/video https://www.youtube.com/watch?v=G89Cr3c4OFo
Redirect /en/U6/01 https://www.youtube.com/embed/8-eV6ZQQ3YY
Redirect /en/U6/02 https://www.youtube.com/embed/1mcCLm_LwpE
Redirect /en/U6/03 https://www.tolerance.org/classroom-resources/film-kits/viva-la-causa
Redirect /en/U6/04 https://www.aeinstein.org/wp-content/uploads/2013/09/Civilian-Based-Defense-English.pdf
Redirect /en/U6/05 https://www.youtube.com/embed/hGqSAtUoiVU

###################
# PROVES INICIALS #
###################

RewriteCond %{HTTP_HOST} !^moulanoviolencia.net$ [NC]
Redirect /video1 /assets/01/01_CAT.mp4

RewriteCond %{HTTP_HOST} !^muevelanoviolencia.net$ [NC]
Redirect /video1 /assets/01/01_ESP.mp4
