<section class="page-section bg-dark text-muted" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 pb-4">
        <a class="text-light" href="mailto:{{ site.data.i18n['contactMail'][page.lang] }}">{{ site.data.i18n['contact'][page.lang] }}</a> |
        <a class="text-light" href="mailto:{{ site.data.i18n['legalURL'][page.lang] }}">{{ site.data.i18n['legal'][page.lang] }}</a> |
        <a class="text-light" href="mailto:{{ site.data.i18n['privacityURL'][page.lang] }}">{{ site.data.i18n['privacity'][page.lang] }}</a> |
        <a class="text-light" href="mailto:{{ site.data.i18n['cookiesURL'][page.lang] }}">{{ site.data.i18n['cookies'][page.lang] }}</a>
      </div>
      <div class="col-12 col-md-4 text-right">
        <div>
          {{ site.data.i18n['license'][page.lang] }}
          <a class="text-light tex-decoration-none mr-5" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.{{page.lang}}">
            <i class='fab fa-creative-commons fa-2x fa-fw align-middle'></i><i class='fab fa-creative-commons-by fa-2x fa-fw text-muted align-middle'></i><i class='fab fa-creative-commons-nc-eu fa-2x fa-fw text-muted align-middle'></i><i class='fab fa-creative-commons-sa fa-2x fa-fw text-muted align-middle'></i></a>
          <a class="text-light" href="https://github.com/babu-cat/movenonviolence" target="_blank"><i class="fab fa-github fa-2x align-middle"></i></a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
