<section class="bg-light page-section" id="partners">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 partner-leaders">
        <h2 class="section-heading mb-2">{{ site.data.i18n['leaders'][page.lang] }}</h2>
        <div class="row justify-content-right">
          {% for leader in site.data.partners.leaders %}
          <div class="col-6 col-sm-4 col-md-3 col-lg-6">
            <a href="{{ leader.url[page.lang] }}" target="_blank"><img class="img-fluid p-2" src="/assets/img/partners/{{ leader.image[page.lang] }}" alt="{{ leader.name[page.lang] }}"></a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <h2 class="section-heading mb-2">{{ site.data.i18n['partners'][page.lang] }}</h2>
        <div class="row">
          {% for partner in site.data.partners.partners %}
          <div class="col-6 col-sm-3 col-md-3 col-lg-3">
            <a href="{{ partner.url[page.lang] }}" target="_blank"><img class="img-fluid p-2" src="/assets/img/partners/{{ partner.image[page.lang] }}" alt="{{ partner.name[page.lang] }}"></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
