<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="intro-text">
              <div class="intro-text-box">
              <div class="intro-lead-in $dark">{{ site.data.i18n['headerText1'][page.lang] }}</div>
              <div class="intro-heading text-violence text-uppercase">
                  {{ site.data.i18n['headerText2'][page.lang] }}
              </div>
              <a href="#units" class="btn btn-primary btn-xl ml-4 mr-4 page-scroll text-uppercase">{{ site.data.i18n['headerButton'][page.lang] }}</a>
            </div>
        </div>
    </div>
</header>
