<section id="units" class="bg-light page-section">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section-heading">{{ site.data.i18n['unitPlans'][page.lang] }}</h2>
                <h3 class="section-subheading text-muted">{{ site.data.i18n['unitPlansSubTitle'][page.lang] }}</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          {% assign units = site.units | where:"lang", page.lang | sort:"number" %}
          {% for unit in units %}
              {% if unit.hide %}
              {% else %}
                <div class="unit-item col-lg-3 col-md-6 text-center">
                  <div class="unit-link">
                   {% if unit.preview %}
                   {% else %}
                    <div class="unit-hover">
                      <div class="unit-hover-content">
                        <a class="col-md-6 unit-link-view" title="Visualitza la unitat didàctica" href="/U{{ unit.number }}/"><i class="fas fa-eye fa-2x"></i></a>
                        <a download class="col-md-6 unit-link-download" onclick="ga('send', 'event', 'Downloads', 'Unit PDF Download', 'U{{ unit.UID }}');" title="Descarrega la unitat didàctica" href="/assets/units/{{ site.domain_language[page.lang] }}-U{{ unit.UID }}.pdf"><i class="fas fa-download fa-2x"></i></a>
                      </div>
                    </div>
                    {% endif %}
                    {% if unit.preview %}
                      <img class="img-fluid" src="/assets/img/comingsoon-{{ unit.lang }}.jpg" alt="{{unit.title}}">
                    {% else %}
                      <img class="img-fluid" src="/assets/img/U{{ unit.UID }}-portada.jpg" alt="{{unit.title}}">
                    {% endif %}
                  </div>
                  <div class="unit-caption bg-white">
                    <h3>
                    {% if unit.preview %}
                    {% else %}
                    <a href="/U{{ unit.number }}/">
                    {% endif %}
                    {{unit.number}}. {{unit.title}}
                    {% if unit.preview %}
                    {% else %}
                    </a>
                    {% endif %}
                    </h3>
                  </div>
                </div>
              {% endif %}
          {% endfor %}
        </div>
    </div>
</section>
