<section class="bg-white page-section" id="workshops">
  <div class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <h2 class="section-heading">{{ site.data.i18n['workshops'][page.lang] }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.i18n['workshopsSubtitle'][page.lang] }}</h3>
        <div class="row justify-content-center mb-5">
          <div class="col-12 col-xl-6">
            <h4 class="title"><i class="fas fa-chalkboard-teacher"></i> {{ site.data.i18n['workshopPresentation'][page.lang] }}</h3>
              <div class="row justify-content-center workshop-dates">
                <div class="col-6 workshop-date border border-terciary rounded bg-terciary m-3">
                  {{ site.data.i18n['fridayAbr'][page.lang] }} 27 {{ site.data.i18n['septemberAbr'][page.lang] }}
                  <span class="workshop-hour text-white">{{ site.data.i18n['at'][page.lang] }} 10h</span>
                </div>
              </div>
              <span class="text-muted"> <i class="fas fa-clock"></i> 2h <i class="fas fa-map-marker ml-2"></i> <a href="https://www.espaisocietatoberta.org/" target="_blank">Espai Societat Oberta</a><i class="fas fa-user ml-2"></i> <a href='http://pacoc.blog.pangea.org/'
                  target='_blank'>Paco Cascón</a></span>
              <p class="workshop-description">
                {{ site.data.i18n['workshopPresentationText'][page.lang] }}
              </p>
              {% include front/component/button-workshops-register.html %}
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-xl-6 mb-5">
            <h4 class="title"><i class="fas fa-chalkboard-teacher"></i> {{ site.data.i18n['workshopFormalEducators'][page.lang] }}</h3>
              <div class="row workshop-dates">
                <div class="col workshop-date border border-terciary rounded bg-terciary m-3">
                  {{ site.data.i18n['tuesdayAbr'][page.lang] }} 15 {{ site.data.i18n['octoberAbr'][page.lang] }}
                  <span class="workshop-hour text-white">{{ site.data.i18n['at'][page.lang] }} 18h</span>
                </div>
                <div class="col workshop-date border border-terciary rounded bg-terciary m-3">
                  {{ site.data.i18n['thursdayAbr'][page.lang] }} 17 {{ site.data.i18n['octoberAbr'][page.lang] }}
                  <span class="workshop-hour text-white">{{ site.data.i18n['at'][page.lang] }} 10h</span>
                </div>
              </div>
              <span class="text-muted"> <i class="fas fa-clock"></i> 2h <i class="fas fa-map-marker ml-2"></i> <a href="https://www.espaisocietatoberta.org/" target="_blank">Espai Societat Oberta</a><i class="fas fa-user ml-2"></i> <a href='http://pacoc.blog.pangea.org/'
                  target='_blank'>Paco Cascón</a></span>
              <p class="workshop-description">
                {{ site.data.i18n['workshopFormalEducatorsText'][page.lang] }}
              </p>
              {% include front/component/button-workshops-register.html %}
          </div>
          <div class="col-12 col-xl-6">
            <h4 class="title"><i class="fas fa-chalkboard-teacher"></i> {{ site.data.i18n['workshopNonFormalEducators'][page.lang] }}</h3>
              <div class="row workshop-dates">
                <div class="col workshop-date border border-terciary rounded bg-terciary m-3">
                  {{ site.data.i18n['tuesdayAbr'][page.lang] }} 5 {{ site.data.i18n['novemberAbr'][page.lang] }}
                  <span class="workshop-hour text-white">{{ site.data.i18n['at'][page.lang] }} 16h</span>
                </div>
                <div class="col workshop-date border border-terciary rounded bg-terciary m-3">
                  {{ site.data.i18n['wednesdayAbr'][page.lang] }} 6 {{ site.data.i18n['novemberAbr'][page.lang] }}
                  <span class="workshop-hour text-white">{{ site.data.i18n['at'][page.lang] }} 18h</span>
                </div>
              </div>
              <span class="text-muted"><i class="fas fa-clock"></i> 2h <i class="fas fa-map-marker ml-2"></i> <a href="https://www.espaisocietatoberta.org/" target="_blank">Espai Societat Oberta</a> <i class="fas fa-user ml-2"></i> <a href='http://pacoc.blog.pangea.org/'
                  target='_blank'>Paco Cascón</a></span>
              <p class="workshop-description">
                {{ site.data.i18n['workshopNonFormalEducatorsText'][page.lang] }}
              </p>
              {% include front/component/button-workshops-register.html %}
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-xl-6">
            <h4 class="title"><i class="fas fa-bullhorn"></i> {{ site.data.i18n['officialPresentation'][page.lang] }}</h3>
              <div class="row justify-content-center workshop-dates">
                <div class="col-6 workshop-date border border-terciary rounded bg-terciary m-3">
                  {{ site.data.i18n['mondayAbr'][page.lang] }} 9 {{ site.data.i18n['decemberAbr'][page.lang] }}
                  <span class="workshop-hour text-white">{{ site.data.i18n['at'][page.lang] }} 19h</span>
                </div>
              </div>
              <span class="text-muted"><i class="fas fa-map-marker"></i> <a href="https://www.cristianismeijusticia.net/" target="_blank">Cristianisme i Justícia</a></span>
              <p class="workshop-description">
                {{ site.data.i18n['officialPresentationText'][page.lang] }}
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
