---
layout: unit
---

<!DOCTYPE html>
<html lang="{{page.lang}}">
{%- capture title -%}
  {{- site.data.i18n['title'][page.lang] }} | {{ page.number -}}.{{- page.title -}}
{%- endcapture -%}
{%- capture description -%}
  {{- page.subtitle -}}
{% endcapture %}
{%- capture page_url -%}
  {{- site.site_url[page.lang] }}/U{{ page.number -}}
{%- endcapture -%}
{%- include head.html title=title description=description page_url=page_url -%}

<body id="page-top" data-spy="scroll" data-target="#navbarSupportedContent">
  {% include unit/nav-unit.html %}
  {% include unit/main.html %}
  {% include unit/materials.html %}
  {% include unit/info.html %}
  {% include donate.html %}
  {% include partners.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
