#materials {
  .material-item {
    font-size: 0.8rem;
    h3 {
      font-size: 1.2rem;
    }
    .material-item-number-type {
      font-size: 1.5rem;
      padding: 1rem;
      color: white;
    }
    .material-item-content {
      padding: 1rem;
    }
  }
}
