#materials {
  .section-heading {
    text-transform: uppercase;
    font-weight: 400;
  }
  .section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
  .material-item {
    font-size: 0.8rem;
    h3 {
      font-size: 1.2rem;
    }
    .material-item-number-type {
      font-size: 1.5rem;
      padding: 1rem;
      color: white;
    }
    .material-item-content {
      padding: 1rem;
    }
  }
}
