#units {
  & * {
    z-index: 2;
  }
  .unit-item {
    margin: 0 0 30px;
    .unit-link {
      position: relative;
      display: block;
      margin: 0 auto;
      a {
        color: $white;
      }
      .unit-hover {
        position:absolute;
        width:100%;
        height:100%;
        -webkit-transition:all ease .5s;
        transition:all ease .5s;
        opacity:0;
        background: rgba($primary, .9);
        &:hover {
          opacity:1;
        }
      }
      .unit-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: #fff;
        i {
          margin-top: -12px;
        }
      }
    }
  }
  .unit-caption {
    padding: 25px;
    h3 a {
      color: $gray-900;
      font-size: 1.5rem;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
