#workshops {
  .workshop-date {
    font-size: 20px;
    font-weight: bolder;
  }
  .workshop-hour {
    font-size: 14px;
    font-weight: light;
  }
  .workshop-description {
    font-style: italic;
  }
}
