#main {
  background-image: url("../img/header-unit-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
  }

  .youtube-container {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.page-section {
    padding-bottom: 50px;
  }
}
